label {
	margin-bottom: .25rem;
	font-size: 1.25rem;
	cursor: pointer;
}

#form-section {
	background-image: url('https://i.pinimg.com/originals/87/88/1b/87881b3fb4cef35686b49ce5210d9530.jpg');

	.container {
		background-color: rgba(245, 245, 245, 0.97);
	}
}